@media screen and (max-width:768px) {
    .display-colam {
        flex-direction: column-reverse;
    }

}

.font-bold {
    font-size: 40px;
    font-weight: 700;
}

.font-bold-2 {
    font-size: 30px;
    font-weight: 700;
}

.bg-color {
    background-color: #3f87f5;
}